@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-image: url("images/background.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no repeat;
}

a,
a:hover {
    text-decoration: none;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #000000;


}

.top-bar span {
    color: #fff;
}

.top-bar ul {
    list-style: none;
    display: flex;
}

.top-bar li {
    margin: 0px 5px;
}

.top-bar a {
    color: #fff;
}

.top-bar a:hover {
    color: #222;
}


nav {
    background: linear-gradient(TO RIGHT, #040404, #000000, #656565);
    padding: 5px 20px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px gray;




}

nav a {
    color: #fff;
}

nav a:hover {
    color: gray;
}

.logo {
    flex: 1;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.logo a:hover {
    color: gray;
}

.logo img {
    width: 60px;
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 20px;
    font-size: 16px;
}

@media(max-width:700px) {
    div {
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        
    }

    .top-bar {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .top-bar ul li {
        font-size: 0.6rem;
    }

    .top-bar span {
        font-size: 0.6rem;
    }

    .logo {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
    .logo a{
        font-size: 0.5rem;
    }

    .menu {
        display: flex;
        width: 100%;
        flex-direction: row;
    }

    .menu li a {
        font-size: 0.4rem;
    }
}