@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    background: linear-gradient(TO RIGHT, #656565, #fff);

}

a,
a:hover {
    text-decoration: none;
}

/*Pocetak CSS sa TOP BAROM i NAVOM*/
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
    background-color: #000000;


}

.top-bar span {
    color: #fff;
}

.top-bar ul {
    list-style: none;
    display: flex;
}

.top-bar li {
    margin: 0px 5px;
    padding-top: auto;
    padding-bottom: auto;
}

.top-bar a {
    color: #fff;
}

.top-bar a:hover {
    color: #222;
}


nav {
    background: linear-gradient(TO RIGHT, #040404, #000000, #656565);
    padding: 5px 20px;
    display: flex;
    align-items: center;
    box-shadow: 1px 1px gray;
}

nav a {
    color: #fff;
}

nav a:hover {
    color: gray;
}

.logo {
    flex: 1;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
    text-decoration: none;
}

.logo a:hover {
    color: gray;
}

.logo img {
    width: 60px;
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 20px;
    font-size: 16px;
    margin-right: 10px;
}

.menu a {
    text-decoration: none;
}

.menu button {
    background: none;
    border: none;
    font-size: 16px;
}

.toggle {
    font-size: 30px;
    display: none;
}

/*KRAJ CSS SA TOP BAROM I NAVOM*/

.site-info {
    display: block;
    justify-content: center;
    padding: 10px;
    border: 1px solid #2D3436;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.site-info h2,p{
    margin-bottom: 10px;
}
.site-info h2{
    font-size: 25px;
    font-weight: 700;
}


h1 {
    display: block;
    text-align: center;
    font: 25px;
    font-weight: bold;
    margin-bottom: 20px;
}

.site-img {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.site-img img {
    width: 300px;
}

.site-img :first-child {
    height: 235px;
}

.site-img :nth-child(3) {
    height: 235px;
}

.title-title {
    display: block;
    text-align: center;
    background-color: #040404;
    color: #fff;
    font-size: 30px;
    margin-bottom: 50px;
}

.main-text-site {
    padding: 5px;
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 20px;
}

.main-text-site h1 {
    text-align: left;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    width: 450px;
    margin: 10px;
    margin-left: 35px;
    background-color: #656565;
    border-radius: 15px;
}

.card-img img {
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.attack {
    height: 169px;
}

.balance {
    height: 169px;
}

.card-body h2 {
    text-align: center;
}

.card-body p {
    text-align: center;
    margin-bottom: 10px;
    padding: 5px;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-footer a {
    text-align: center;
    width: 150px;
    background: #000000;
    color: #fff;
    border-radius: 15px;
    border: 2px solid black;
    padding: 6px;
    font-size: 15px;
    cursor: pointer;
    margin-bottom: 10px;
}

.card-footer a {
    color: #fff;
    text-decoration: none;
}

.card-footer a:hover {
    transition: 0.3s all;
    background-color: #fff;
    color: #000000;
}



.cards:hover {
    box-shadow: 3.9px 7.8px 7.8px hsl(0deg 0% 0% / 0.38);
    background-color: #222;
    color: azure;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.4s ease
}











































.login-popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    border: 4px solid #222;
    z-index: 9;
}

.login-popup {
    color: #fff;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    padding: 10px;
    background: linear-gradient(#000000, #2D3436);
    border: 4px solid #2D3436;
}


.login-container input[type=text],
.login-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


.login-container input[type=text]:focus,
.login-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


.login-container .btn {
    background: linear-gradient(TO RIGHT, #04619F, #000000);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


.login-container .cancel {
    background: linear-gradient(TO RIGHT, #B82E1F, #000000);
}


.login-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

/*Kraj CSS za formu login*/

/*POCETAK CSS ZA REGISTER FORMU*/
.register-popup {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    border: 4px solid #222;
    z-index: 9;
}

.register-popup {
    color: #fff;
}

.register-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 300px;
    padding: 10px;
    background: linear-gradient(#000000, #2D3436);
    border: 4px solid #2D3436;
}

.register-container input[type=text],
.register-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}


.register-container input[type=text]:focus,
.register-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


.register-container .btn {
    background: linear-gradient(TO RIGHT, #04619F, #000000);
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}


.register-container .cancel {
    background: linear-gradient(TO RIGHT, #B82E1F, #000000);
}


.register-container .btn:hover,
.open-button:hover {
    opacity: 1;
}

/*KRAJ CSS ZA FORMU REGISTER*/



@media screen and (max-width:700px) {
    nav {
        display: block;
        position: relative;
        padding: 15px 20px;
    }

    .menu {
        margin-top: 15px;
        display: none;
    }

    .menu.active,
    .toggle {
        display: block;
    }

    .toggle {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .main-title h1 {
        font-size: 30px;
    }

    h1 {
        font-size: 25px;
    }

    .site-img img {
        width: 230px;
    }
}